@mixin boxShadow($blur, $spread, $color) {
  -webkit-box-shadow: 0px 0px $blur $spread rgba($color, 0.75);
  -moz-box-shadow: 0px 0px $blur $spread rgba($color, 0.75);
  box-shadow: 0px 0px $blur $spread rgba($color, 0.75);
}
