<mat-card class="user-info-card">
    <mat-card-content>
        <h3 mat-subheader>User Information</h3>
        <mat-list>
            <mat-list-item>
                <h4 mat-subheader>Name</h4>
                <span>{{user.name}}</span>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-subheader>Employment Date</h4>
                <span>{{user.employmentDate}}</span>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-subheader>Phone Number</h4>
                <span>{{user.phoneNumber}}</span>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-subheader>Wants Paking</h4>
                <span>{{user.wantsParking}}</span>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-subheader>Parking Spot Number</h4>
                <span>{{user.parkingSpot}}</span>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-subheader>Next day skipped</h4>
                <span>{{user.passDay}}</span>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-subheader>Licence plate</h4>
                <span *ngFor="let licensePlate of user.licensePlates">
                    <span>{{licensePlate}};</span>
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="notifications-card">
    <mat-card-content>
        <h3 mat-subheader>Notifications</h3>
        <mat-list>
            <mat-list-item>
                <mat-slide-toggle>E-mail me!</mat-slide-toggle>
            </mat-list-item>
            <mat-list-item>
                <mat-slide-toggle [checked]={{user.email}} ()>Push Notifications</mat-slide-toggle>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>