@import '../../../scss/mixins.scss';
@import '../../../scss/colors.scss';

.grayed {
  background-color: lighten($color-primary, 5%);
  mat-cell {
    color: #999;
  }
}

.highlighted {
  @include boxShadow(3px, 1px, $color-secondary);
  background-color: rgba($color-secondary, 0.8);
  border: 1px solid $color-secondary;
  mat-cell {
    font-weight: bold;
  }
}
