<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row;let i = index">{{i + 1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="parkingSpot">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Parking spot</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.parkingSpot ? row.parkingSpot : '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="licensePlates">
      <mat-header-cell *matHeaderCellDef mat-sort-header>License plates</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.parkingSpot ? row.licensePlates : '-'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="{'grayed':hasNoSpot(row),'highlighted':isCurrentUser(row)}" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]"> -->
  <!-- </mat-paginator> -->
</div>
