@import '../../../scss/mixins.scss';
@import '../../../scss/colors.scss';

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > * {
  width: 100%;
}

mat-form-field {
  mat-icon {
    cursor: pointer;
  }
}

mat-card.login-card {
  padding-top: 20vh;
  margin-left: calc(50vw - 200px);
  @include boxShadow(10px, 5px, $color-primary);
  text-align: center;
  max-width: 400px;
}
