$color-initial: #eff9f0 !default;
$color-primary: rgb(66, 67, 66) !default;
$color-secondary: #397985 !default;
$color-tertiary: #b02e0c !default;
$color-quaternary: #f0a202 !default;
$color-quinary: #27695c !default;

$color-dark: #111;
