@import './scss/colors';
@import './scss/material';
@import url(https://fonts.googleapis.com/css?family=Poppins);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-family: 'Poppins', serif;
  color: $color-initial;
  background-image: url('/assets/img/blackorchid.png');
}
